.Alert {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 30%;
    min-height: 20px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 36%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Alert p {
    margin: 0;
}

.warning {
    background: yellow;
}

.success {
    background: greenyellow;
}