.modalBtn {
    width: 60px;
    height: 40px;
    margin: 20px;
    background: green;
    color: white;
    vertical-align: top;
}

.alertBtn {
    width: 60px;
    height: 40px;
    margin: 20px;
    background: gold;
    vertical-align: top;
}

.justAlert {
    width: 60px;
    height: 40px;
    margin: 20px;
    background: red;
    color: white;
    vertical-align: top;
}