.myBtn {
    width: 70px;
    height: 40px;
    margin-right: 10px;
    color: white;
    border: 1px solid transparent;
    border-radius: 5%;
}

.myBtn:hover {
    border: 3px solid black;
}

.primary {
    background: blue;
    margin-left: 200px;
}

.danger {
    background: red;
}