.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 30%;
    min-height: 150px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 36%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.head {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}

.head h2 {
    margin: 0;

}

.content p {
    text-align: left;
    padding-top: 30px;
    margin: 0;
}

